<mat-toolbar class="header">
  <div class="button-container">
    <button mat-button class="button" (click)="scrollToElement('overview')" [ngClass]="{'active-button': buttonSelection === 'overview'}">Overview</button>
    <button mat-button class="button" (click)="scrollToElement('frequently-asked-questions')" [ngClass]="{'active-button': buttonSelection === 'frequently-asked-questions'}">FAQ</button>
    <button mat-button class="button" (click)="scrollToElement('home')"> <img class="logo" src="../../../assets/images/Spotify_icon.svg" alt="logo"/></button>
    <button mat-button class="button" (click)="scrollToElement('who-we-are')" [ngClass]="{'active-button': buttonSelection === 'who-we-are'}">Who we are</button>
    <button mat-button class="button" (click)="scrollToElement('contact-us')" [ngClass]="{'active-button': buttonSelection === 'contact-us'}">Contact</button>
  </div>
</mat-toolbar>
