<app-header></app-header>

<div class="banner" id="home">
  <img src="../../{{selectedImage}}" class="banner-image" alt="concert">
  <div class="banner-text">
    <h1>Welcome to {{title}}</h1>

    <h4>Your Spotify playlist, now on tour. Ready to rock?</h4>

    <button mat-button class="login-button" (click)="authenticateUser()">GET STARTED</button>

  </div>
</div>

<div class="overview" id="overview">

  <div class="overview-text">
    <h4>Dive right into a sea of music adventures with {{title}}. With just a click, we turn your Spotify playlists into a golden ticket to live events, helping you find out where your favorite artists are performing next, all in one place.</h4>
    <br>
    <h4>Say goodbye to the endless googling. We do the hard work for you, bringing together information from various sources to give you a simple, easy-to-use roadmap to live music based on your personal taste.</h4>
    <br>
    <h4>Ready for the easiest way to track concerts? Get started with {{title}} and step into a world where every day offers a chance to experience the live music you love, without the hassle.</h4>
  </div>

</div>

<div style="
  height: 20px;
  background-image: linear-gradient(to bottom, #212121, #121212);">
</div>

<div class="frequently-asked-questions" id="frequently-asked-questions">
  <div class="faq-item">
    <div class="front">What kind of information do you access from my Spotify account?</div>
    <div class="back">We prioritize your privacy and access only essential data from your Spotify account. This includes basic information such as your name, username, profile picture,  playlists, library contents, and your top artists and content. Rest assured, you'll be informed of the data we access during your first login.</div>
  </div>

  <div class="faq-item">
    <div class="front">What platforms do you pull event data from?</div>
    <div class="back">At the moment, we source all event data exclusively from Jambase to ensure a reliable and rich database of events. As we evolve, we aim to integrate more platforms for a comprehensive and diverse range of event data.</div>
  </div>

  <div class="faq-item">
    <div class="front">Is {{title}} free to use? Are there any hidden charges?</div>
    <div class="back">Absolutely! {{title}} is entirely free to use. We are committed to keeping the core functionalities of the app free for all users, always.</div>
  </div>

  <div class="faq-item">
    <div class="front">Can I set notifications for upcoming events?</div>
    <div class="back">While notifications for upcoming events are not currently available, we recognize the value of this feature. We're working diligently to incorporate notifications into the app to enhance your user experience.</div>
  </div>

  <div class="faq-item">
    <div class="front">Is there a mobile version of {{title}} available?</div>
    <div class="back">We're excited to announce that a mobile version of {{title}} is in development. Stay tuned for updates and be ready to enjoy a seamless experience on your mobile devices soon!</div>
  </div>

  <div class="faq-item">
    <div class="front">How do I contact support if I run into issues or have suggestions?</div>
    <div class="back">Your feedback and inquiries are important to us. Feel free to reach out to us at support@tracktotrack.com or use our contact form for any assistance or to share your suggestions.</div>
  </div>

</div>

<div style="
  height: 20px;
  background-image: linear-gradient(to bottom, #121212, #535353);">
</div>

<div class="who-we-are" id="who-we-are">
  <div class="developer">
    <div class="front">
      <img src="assets/images/empty_profile.png" alt="Developer" class="developer-photo">
      <h4 class="developer-name">Marshall Lussier</h4>
    </div>
    <div class="back">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod.</p>
    </div>
  </div>
  <div class="developer">
    <div class="front">
      <img src="assets/images/empty_profile.png" alt="Developer" class="developer-photo">
      <h4 class="developer-name">Other Staff</h4>
    </div>
    <div class="back">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque euismod.</p>
    </div>
  </div>

</div>

<div style="
  height: 20px;
  background-image: linear-gradient(to bottom, #535353, #b3b3b3);">
</div>

<div class="contact-us" id="contact-us">Contact Us</div>

<div style="
  height: 20px;
  background-image: linear-gradient(to bottom, #b3b3b3, #121212);">
</div>

<app-footer></app-footer>
