.banner {
  position: relative;
  display: inline-block;
  background-color: #212121;
}

.banner-image {
  border: 2px solid #31323A;
  height: 765px;
  width: 100vw;
  background-position: center;
  filter: blur(7px);
}

.banner-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.0);
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 75%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: GothamBold, serif;
}
.banner-text h1 {
  font-size: 3em;
}
.banner-text h4 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.overview-text {
  width: 75%;
  text-align: center;
  font-size: 1rem;
  font-family: GothamBold, serif;
  padding-top: 75px;
  padding-bottom: 50px;
}

.login-button {
  color: white;
  background-color: #1CD760;
  border-radius: 500px;
  border-width: 0;
  min-width: 160px;
  white-space: normal;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: GothamBold, serif;
}

.overlay-text {
  margin-top: 10px;
}

.overview, .frequently-asked-questions, .who-we-are, .contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-family: GothamBold, serif;
}

.overview {
  background-color: #212121;
  height: 400px;
}

.frequently-asked-questions {
  display: grid !important;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  color: #b3b3b3;
  background-color: #121212;
  height: 400px;
}



.faq-item {
  width: 220px;
  justify-self: center;
  perspective: 1000px;
  font-size: 15px;
  font-family: GothamBold, serif;
  padding: 20px;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: transform 0.8s, opacity 0.8s;
}

.back {
  transform: rotateY(180deg);
}

.faq-item:hover .front {
  transform: rotateY(180deg);
  opacity: 0;
}

.faq-item:hover .back {
  transform: rotateY(360deg);
  opacity: 1;
}


.who-we-are {
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: #535353;
  padding: 20px;
}

.developer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  color: #212121;
  min-height: 250px;
  max-height: 400px;
}

.developer .front, .developer .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: transform 0.6s, opacity 0.6s;
  font-family: GothamBold, serif;
}

.developer .back {
  transform: scale(1.2) translateY(100%);
  opacity: 0;
}

.developer:hover .front {
  transform: scale(0.8) translateY(-100%);
  opacity: 0;
}

.developer:hover .back {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.developer-name {
  font-size: 1em;
}

.developer-photo {
  width: 150px;
  border-radius: 50%;
}


.contact-us {
  background-color: #b3b3b3;
  height: 400px;
}




