<app-header></app-header>

<div class="banner" id="home">
  <img src="assets/banner.png" class="banner-image" alt="concert">
  <div class="banner-text">
    <h1>Welcome to {{title}}</h1>
    <button mat-button class="login-button" (click)="authenticateUser()">GET STARTED</button>

    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet ipsum consequat, hendrerit libero at, aliquam turpis. Praesent justo turpis, rhoncus ut finibus nec, condimentum at lacus. In enim diam, lacinia a justo non, tempus tempor dolor. Vivamus lobortis tempus auctor. Sed vel velit at nisl lobortis cursus nec eget est. Maecenas ut dolor mauris.</h6>

  </div>
</div>

<div class="overview" id="overview">Overview</div>
<div class="how-it-works" id="how-it-works">How it works</div>
<div class="support-us" id="support-us">Support us</div>
<div class="contact-us" id="contact-us">Contact us</div>

<app-footer></app-footer>
